.env
*.env

temp
logs
*.log
node_modules
dist
coverage
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
*.log
*.gz
*.zip
*.tar
*.7z
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.npm
*.yarn
*.lock
*.tgz
*.zip
*.tar.gz
*.log       